/* flex */
.flex{
    display: flex;
}

.flex.column{
    flex-direction: column;
}

.flex.justify-content-center{
    justify-content: center;
}
.flex.justify-content-stretch{
    justify-content: stretch;
}
.flex.space-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}

.align-self-center{
    align-self: center;
}

/* lists */
.clr-list{
    list-style: none;
}

/* display */
.block{
    display: block;
}