.main-layout{
    margin:0 auto;
}

.main-header{
    background-color: var(--clr4);
    position: relative;
}

.header-container{
    height: 132px;
}

.main-content{
    padding-top: 80px;
    
    border-bottom: 1px solid var(--clr2);
}

main nav{
    border-top: 1px solid var(--clr2);
}

.card-layout>*{
    margin-bottom: 80px;
}

.main-footer{
    background-color: var(--clr3);
    height: 316px;
    text-align: center;
    row-gap: 2rem;
    margin:0;
}